<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script th:inline="javascript">
            var teamA = [[${game.teamA.id}]];
            var teamB = [[${game.teamB.id}]];
        </script>
        <script type="text/javascript">
            function check() {
                var dropdown = document.getElementById("events");
                var current_value = dropdown.options[dropdown.selectedIndex].value;
    
                if (current_value == "Goal" || current_value == "Yellow Card" || current_value == "Red Card") {
                    document.getElementById("team_and_players").style.display = "block";
                    document.getElementById("teamA").required = true;
                    document.getElementById("teamB").required = true;
                    document.getElementById("teams").required = true;
                }
                else {
                    document.getElementById("team_and_players").style.display = "none";
                    document.getElementById("teamA").required = false;
                    document.getElementById("teamB").required = false;
                    document.getElementById("teams").required = false;
                }
            }
    
            function hide_player(){
                var dropdown = document.getElementById("teams");
                var current_value = dropdown.options[dropdown.selectedIndex].value;
    
                if (current_value == teamA) {
                    document.getElementById("teamA").style.display = "block";
                    document.getElementById("teamB").style.display = "none";
                    document.getElementById("none").style.display = "none";
                    
                    document.getElementById("teamA").required = true;
                    document.getElementById("teamB").required = false;
                }
                else if(current_value == teamB){
                    document.getElementById("teamB").style.display = "block";
                    document.getElementById("teamA").style.display = "none";
                    document.getElementById("none").style.display = "none";
                    
                    document.getElementById("teamB").required = true;
                    document.getElementById("teamA").required = false;
                    
                }
                else{
                    document.getElementById("teamA").style.display = "none";
                    document.getElementById("teamB").style.display = "none";
                    document.getElementById("none").style.display = "block";
                    document.getElementById("teamA").required = true;
                    document.getElementById("teamB").required = true;
                }
                
    
            }
        </script>
    <title>Create Event</title>
</head>

<body>
    <a href="/home">Home</a>
    
    <h1>Event Registration</h1>
    <form th:action="@{/save-event}" th:object="${fevent}" method="post">
        <input type="hidden" th:value="${game.id}" name="event.game" >
        <div class="mb-3">
            <p>Type of event</p>
            <select id="events" th:field="*{event.typeE}" onChange="check()">
                <option value="">Choose Option</option>
                <option th:each="ev : ${typesevents}" th:value="${{ev}}" th:text="${ev}">
                </option>
            </select>
        </div>


        <div class="mb-3">
            <div id="team_and_players">
                <p>Team</p>
                <select required id="teams" th:field="*{event.team}" onChange="hide_player()">
                    <option value="">Choose Option</option>
                    <option th:each="teamA : ${game.teamA}" 
                            th:value="${{teamA}}" 
                            th:text="${teamA.name}">
                    </option>
                    <option th:each="teamB : ${game.teamB}" 
                            th:value="${{teamB}}" th:text="${teamB.name}">
                    </option>
                </select>

                <p>Player</p>
                <select id="none">
                    <option value="">Choose Option</option>
                </select>
                <select id="teamA" th:field="*{playerA}" style="display: none" required="true">
                    <option value="">Choose Option</option>
                    <option th:each="p : ${game.teamA.players}" ~
                            th:value="${{p}}" 
                            th:text="${p.name}">
                    </option>
                </select>
                <select id="teamB" th:field="*{playerB}" style="display: none" required="true">
                    <option value="">Choose Option</option>
                    <option th:each="p : ${game.teamB.players}" 
                            th:value="${{p}}" 
                            th:text="${p.name}">
                    </option>
                </select>

            </div>

            <div class="mb-3">

                <p>Date</p>
                <input type="datetime-local" th:field="*{event.date}" required>

            </div>

        </div>

        <button type="submit" class="btn btn-primary">Create Event</button>


    </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>